/*Menu*/

@media only screen and (max-width: 900px) {
    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: block;
    }

}

@media only screen and (min-width: 901px) {
    #mobile-nav {
        display: none;
    }
}


/*Hero Section*/

@media only screen and (max-width: 900px) {
    section#hero {
        padding-left: 60px;
        padding-right: 60px
    }
}



@media only screen and (max-width: 760px) {
    
    section#hero {
        padding-left: 30px;
        padding-right: 30px;
    }


    h1.hero-header {
        font-size: 40px;
    }

    .hero-navigator p {
        font-size: 18px;
    }
}

/*About Section*/

@media only screen and (max-width: 1700px) {
    section#about-me {
        padding: 100px 60px;
    }
}

@media only screen and (max-width: 1500px) {
    
    div.about-cont {
        column-gap: 100px;
    }
    
    div.about-image-cont {
        width: 35%;
    }
}

@media only screen and (max-width: 1100px) {

    div.about-cont {
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .about-image-cont img {
        max-width: 250px;
    }

    section#about-me {
        padding: 100px 30px;
    }

    div.about-image-cont {
        width: 100%;
    }

    div.about-sub-cont {
        align-items: center;
    }

}

@media only screen and (max-width: 500px) {
    
    .about-text-cont > div > hr {
        display: none;
    }

    .about-image-cont img {
        max-width: 100%;
    }

}

/*My Skills*/

@media only screen and (max-width: 1700px) {
    section#my-skills {
        padding: 100px 60px;
    }
}

@media only screen and (max-width: 1500px) {
    div.skill {
        width: 250px;
        height: 300px;
    }
}

@media only screen and (max-width: 1350px) {
    
    div.skill {
        width: 300;
        height: 350px;
    }

    div.int-skills-cont {
        flex-wrap: wrap;
        row-gap: 50px;
        justify-content: center;
    }

    div.skill-outer {
        width: 40%;
    }
}

@media only screen and (max-width: 1100px) {
    
    section#my-skills {
        padding: 100px 30px;
    }
}

@media only screen and (max-width: 760px) {
    
    div.skill-outer {
        width: 100%;
    }
}

/*Experience Seciton*/

@media only screen and (max-width: 1700px) {
    section#experience {
        padding: 100px 60px;
    }
}

@media only screen and (max-width: 1500px) {
    div.ex-cont {
        flex-wrap: wrap;
        
    }
}

@media only screen and (max-width: 1100px) {
    
    section#experience {
        padding: 100px 30px;
    }
}

@media only screen and (max-width: 600px) {
    div.experience-cont {
        flex-direction: column;
        row-gap: 10px;
    }

    div.date-cont {
        text-align: left;
    }
}

/*Testimonials Section*/

@media only screen and (max-width: 1940px) {
    div.testimonial-col {
        width: 30%;
    }
}

@media only screen and (max-width: 1700px) {
    section#testimonials {
        padding: 100px 60px;
    }
}

@media only screen and (max-width: 1200px) {
    div.testimonials-cont {
        flex-wrap: wrap;
        row-gap:40px
    }

    div.testimonial-col {
        width: 100%
    }
}

@media only screen and (max-width: 1100px) {
    
    section#testimonials {
        padding: 100px 30px;
    }
}




/*CONTACT PAGE*/

/*Hero Section*/

@media only screen and (max-width: 900px) {
    section#contact-hero {
        padding-left: 60px;
        padding-right: 60px
    }
}



@media only screen and (max-width: 760px) {
    
    section#contact-hero {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/*Contact Section*/

@media only screen and (max-width: 1100px) {
    div.contact-outer-cont {
        flex-direction: column-reverse;
        gap: 50px;
    }

    div.contact-sub-section {
        width: 100%;
    }

    .contact-form-cont h2 {
        text-align: right;
    }
}

@media only screen and (max-width: 800px) {
    form div {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    form > div > input {
        width: 100%;
    }

}


/*Mobile Popup*/

@media only screen and (max-width: 700px) {
    #mobile-popup li {
        font-size: 30px;
    }
}