* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

section {
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    justify-content: center;
}

h1,
h2,
h3, 
p,
input,
textarea {
    font-family: "Red Hat Display";
    color: #FFF;
}

p {
    font-size: 18px;
    font-weight: 400;
}

h1 {
    font-weight: 700;
    font-size: 48px;
}

h2 {
    font-weight: 300;
    font-size: 48px;
}

.purple-text {
    color: #A900E1;
}

.red-text {
    color: #E1005F;
}

.bold-text {
    font-weight: 700;
}



/*--HOMEPAGE--*/

/*Header*/

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 0px;
    z-index: 1;
    padding-top: 40px;
}

header hr {
    width: 100%;
    height: 1px;
    background-color: #fff;
}

header #desktop-nav {
    width: 575px;
    min-width: 575px;
}

nav ul {
    text-align: center;
}

nav ul > li{
    list-style: none;
    display: inline-block;
    margin: 0 7px;
}

.main-menu {
    font-family: "Red Hat Display";
    font-size: 16px;
    color: #FFF;
}

.main-menu a {
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s;
}

.main-menu a:hover {
    color: #A900E1;
}

/*Mobile Menu*/

nav#mobile-nav {
    text-align: center;
    margin: 0 20px;
}

#mobile-nav svg {
    width: 35px;
    fill: #FFF;
    transition: fill 0.3s;
}

#mobile-nav a:hover svg {
    fill: #A900E1;
}

/*--Hero Section--*/

#hero {
    height: 100vh;
    background-image: url(/Assets/Images/hero-shot.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #302933;
    opacity: 70%;
    z-index: 0;
}

h1.hero-header {
    text-align: center;
    z-index: 1;
}

div.hero-navigator {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    z-index: 1;
    text-align: center;
}

.hero-navigator p {
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;
}

.hero-navigator svg {
    fill: #FFF;
    width: 30px;
    transition: all 0.3s;
}

.hero-navigator a:hover p {
    color: #A900E1;
}

.hero-navigator a:hover svg {
    fill: #A900E1;
}

/*--Hero Section - END--*/

/*--About Section--*/

/*Section Styles*/

section#about-me {
    background-image: linear-gradient(#402b47 0%, #302933 100%);
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;

}

div.about-cont {
    width: 1640px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.about-sub-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

/*Text Section*/

div.about-text-cont {
    row-gap: 15px;
}

.about-text-cont div {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.about-text-cont > div > hr {
    min-width: 57.5px;
    height: 2px;
    background-color: #FFF;
    border: 0;
    margin-top: 10px;
}

/*Image Section*/

.about-image-cont img {
    max-width: 536px;
}

.about-hover-img {
    position: absolute;
    opacity: 0%;
    transition: opacity 0.7s;
    cursor: help;
}

.about-hover-img:hover {
    opacity: 100%;
}


/*--About Section - END--*/


/*--My Skills--*/

section#my-skills {
    background-image: linear-gradient(#302933 0%, #402b47 100%);
    justify-content: center;
    padding: 100px 140px;
}

div.my-skills-outer {
    width: 1640px;
    text-align: center;
}

div.skills-cont {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 55px;
}

div.int-skills-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}

div.skill-outer {
    display: flex;
    justify-content: center;
}


/*Skill Container*/

.skill img {
    width: 150px;
    transform: scale(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.skill h3 {
    font-size: 24px;
    text-transform: uppercase;
}

div.skill {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    background-color: #302933;
    border: 3px solid #fff;
    border-radius: 30px;
}

div.skill:hover {
    background-color: #8B23AD;
    cursor: help;
}

div.skill:hover img {
    transform: scale(1.17);
}

/*--My Skills - End--*/

/*--Experience--*/

section#experience {
    background-color: #302933;
    padding: 100px 140px;
}

div.experience-outer {
    width: 1640px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

div.ex-cont {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 20px;
    row-gap: 70px;
}

/*Experience Individual*/

div.experience-cont {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

div.date-cont {
    min-width: 135px;
    text-align: right;
}

div.ex-details-cont {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

div.experience-cont p {
    margin-bottom: 10px;
}

/*Experience Skills Sections*/

div.ex-skill-outer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}

div.ex-skill {
    width: 100px;
    height: 35px;
    border: 1px solid #A900E1;
    background-color: #402B47;
    border-radius: 17px;
    color: #FFF;
    font-family: 'Red Hat Display';
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

div.ex-skill:hover {
    background-color: #552665;
    cursor: help;
}

/*--Experience - END--*/

/*--Testimonials--*/

section#testimonials {
    background-color: #552665;
    padding: 100px 140px;
}

div.testimonial-outer {
    width: 1640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

div.testimonials-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

div.testimonial-col {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 500px;
}

/*Testimonial Individual*/

div.testimonial-individual {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 15px;
    border: 3px solid #fff;
    border-radius: 26px;
    padding: 30px 50px;
}

.testimonial-individual .name {
    font-weight: 700;
}

/*--Testimonials - END--*/

/*--Footer--*/

footer {
    background-color: #302933;
    text-align: center;
    padding: 15px 0;
}



/*--Footer - END--*/

/*--HOMEPAGE - END--*/




/*--CONTACT PAGE--*/

/*--Hero Section--*/

section#contact-hero {
    height: 600px;
    background-image: url(/Assets/Images/contact-us-hero.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

div.contact-hero-overlay {
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: #302933;
    opacity: 70%;
    z-index: 0;
}

#contact-hero h1 {
    z-index: 1;
    text-align: center;
}

#contact-hero hr {
    height: 3px;
    width: 155px;
    background-color: #A900E1;
    z-index: 1;
    border: 0;
}

/*--Hero Section - END--*/

/*--Contact Section--*/

section#contact-section {
    background-image: linear-gradient(#402B47 0%, #302933 100%);
    padding: 100px 140px;
}

div.contact-outer-cont {
    width: 1640px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.contact-sub-section {
    display: flex;
    flex-direction: column;
}

div.contact-form-cont {
    width: 50%;
    gap: 50px;
}

.social-cont h2 {
    margin-bottom: 50px;
}

.social-cont div {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-top: 40px;
}

.social-icons-cont svg {
    max-width: 45px;
    fill: #A900E1;
}

.social-icons-cont a {
    display: block;
}

div.social-cont p a {
    color: #A900E1;
    transition: color 0.3s;
}

div.social-cont p a:hover {
    color: #FFF;
}



/*Contact Form Styling*/

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

form > div   {
    width: 100%;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}

form input {
    width: 45%;
    border: 1px solid #FFF;
    border-radius: 22px;
    height: 50px;
    background-color: transparent;
    font-family: 'Red Hat Display';
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    padding: 0 30px;
    box-sizing: border-box;
}

form label {
    display: none;
}

form textarea {
    background-color: transparent;
    font-family: 'Red Hat Display';
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 30px;
    border: 1px solid #FFF;
    border-radius: 22px;

}

form input::placeholder,
form textarea::placeholder {
    color: #FFF;
}

div.submit-cont {
    width: 100%;
    display: flex;
    justify-content: end;
}

.submit-cont input {
    background-color: transparent;
    border-color: #FFF;
    transition: all 0.3s;
    cursor: pointer;
}

.submit-cont input:hover {
    background-color: #A900E1;
    border-color: #A900E1;
}

/*--Contact Section - END--*/

/*--CONTACT PAGE - END--*/


/*--MOBILE POPUP--*/

header#mobile-popup {
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    background: black;
    position: fixed;
    z-index: 90;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    opacity: 0;
}

#mobile-popup ul {
    color: #FFF;
    z-index: 99;
}

#mobile-popup li {
    display: block;
    padding: 10px;
    font-size: 50px;
    transform: translateY(0);
    transition: all 0.3s;
}

#mobile-popup li:hover {
    color: #A900E1;
    transform: translateY(5px);
}

div.mobile-menu-close {
    z-index: 99;
    color: #FFF;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    padding: 20px 50px;
    font-family: 'Red Hat Display';
    font-size: 35px;
    font-weight: 400;
}

.mobile-menu-close span:hover {
    color: #A900E1;
    cursor: pointer;
}




/*--MOBILE POPUP - END--*/