* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

section {
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    justify-content: center;
}

h1,
h2,
h3, 
p {
    font-family: "Red Hat Display";
    color: #FFF;
}

p {
    font-size: 18px;
    font-weight: 400;
}

h1 {
    font-weight: 700;
    font-size: 48px;
}

h2 {
    font-weight: 300;
    font-size: 48px;
}

.purple-text {
    color: #A900E1;
}

/*Header*/

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 0px;
    z-index: 1;
    padding-top: 40px;
}

header hr {
    width: 100%;
    height: 1px;
    background-color: #fff;
}

header #desktop-nav {
    width: 575px;
    min-width: 575px;
}

nav ul {
    text-align: center;
}

nav ul > li{
    list-style: none;
    display: inline-block;
    margin: 0 7px;
}

.main-menu {
    font-family: "Red Hat Display";
    font-size: 16px;
    color: #FFF;
}

.main-menu a {
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s;
}

.main-menu a:hover {
    color: #A900E1;
}

/*Mobile Menu*/

nav#mobile-nav {
    text-align: center;
    margin: 0 20px;
}

#mobile-nav svg {
    width: 35px;
    fill: #FFF;
    transition: fill 0.3s;
}

#mobile-nav a:hover svg {
    fill: #A900E1;
}

/*--Hero Section--*/

#hero {
    height: 100vh;
    background-image: url(/Assets/Images/hero-shot.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #302933;
    opacity: 70%;
    z-index: 0;
}

h1.hero-header {
    text-align: center;
    z-index: 1;
}

div.hero-navigator {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    z-index: 1;
    text-align: center;
}

.hero-navigator p {
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;
}

.hero-navigator svg {
    fill: #FFF;
    width: 30px;
    transition: all 0.3s;
}

.hero-navigator a:hover p {
    color: #A900E1;
}

.hero-navigator a:hover svg {
    fill: #A900E1;
}

/*--Hero Section - END--*/

/*--About Section--*/

/*Section Styles*/

section#about-me {
    background-image: linear-gradient(#402b47 0%, #302933 100%);
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;

}

div.about-cont {
    width: 1640px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.about-sub-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

/*Text Section*/

div.about-text-cont {
    row-gap: 15px;
}

.about-text-cont div {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.about-text-cont > div > hr {
    min-width: 57.5px;
    height: 2px;
    background-color: #FFF;
    border: 0;
    margin-top: 10px;
}

/*Image Section*/

.about-image-cont img {
    max-width: 536px;
}

.about-hover-img {
    position: absolute;
    opacity: 0%;
    transition: opacity 0.7s;
    cursor: pointer;
}

.about-hover-img:hover {
    opacity: 100%;
}


/*--About Section - END--*/


/*--My Skills--*/

section#my-skills {
    background-image: linear-gradient(#302933 0%, #402b47 100%);
    justify-content: center;
    padding: 100px 140px;
}

div.my-skills-outer {
    width: 1640px;
    text-align: center;
}

div.skills-cont {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 55px;
}

div.int-skills-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}

div.skill-outer {
    display: flex;
    justify-content: center;
}


/*Skill Container*/

.skill img {
    width: 150px;
    transform: scale(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.skill h3 {
    font-size: 24px;
    text-transform: uppercase;
}

div.skill {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    background-color: #302933;
    border: 3px solid #fff;
    border-radius: 30px;
}

div.skill:hover {
    background-color: #8B23AD;
    cursor: help;
}

div.skill:hover img {
    transform: scale(1.17);
}

/*--My Skills - End--*/